:root {
    --bg-color: #580101;
    --glass-bg-color: #ffffff4d;
    --font-color: #dfc08d;
    --font-color2: #a78349;
    --font-color3: #ffffff;
    --font-color4: #000000;
    --table-color-top: #6f6c57;
    --table-color-even: #c7bb9a;
    --table-color-odd: #e7dcca;
    --button-color: #dfc08d;
    --button-color-hover: #a78349;
    --delete-button-color: #c33939;
    --delete-button-color-hover: #b70c0c;
    --download-button-color: #359021;
    --download-button-color-hover: #3aa422;
    --upload-button-color: #1185bb;
    --upload-button-color-hover: #1f96cd;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background: var(--bg-color);
}

.tanks_sidebar, .formula_sidebar , .wines_sidebar, .actions_sidebar {
    height: 88%;
    width: 300px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    top: 11%;
    left: 0;
    background: var(--glass-bg-color);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tanks_sidebar > h1 , .formula_sidebar > h1 , .wines_sidebar > h1, .actions_sidebar > h1 {
    text-align: center;
    color: var(--font-color);
}

.actions_sidebar > h2 {
    color: var(--font-color);
    margin: 25 0;
}

hr {
    margin-top: 20px;
    border: 0;
    height: 1.5px;
    background: var(--font-color);
}

.tanks_sidebar > #inputForm > p , .wines_sidebar > #wineForm > p{
    color: var(--font-color);
    font-size: 16px;
    margin-bottom: 5px;
}

.tanks_sidebar > #inputForm > input, .tanks_sidebar > #inputForm > select, .wines_sidebar > #wineForm > input{
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--button-color);
    color: var(--font-color4);
}

.wines_sidebar > #wineForm > input[type="color"] {
    width: 80%;
    height: 30px;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    cursor: pointer;
    padding: 0px;
}

.tanks_sidebar > #inputForm > button , .wines_sidebar > #wineForm > button{
    margin-top: 25px;
    text-decoration: none;
    color: var(--font-color4);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--button-color);
    border: 0px;
    cursor: pointer;
    width: 100%;
}

.tanks_sidebar > #inputForm > button:hover , .wines_sidebar > #wineForm > button:hover{
    background-color: var(--button-color-hover);
    transition: all 0.1s ease-in-out;
}


.tanks_sidebar > #clearBtn > button, .wines_sidebar > #clearWineBtn {
    text-decoration: none;
    color: var(--font-color3);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--delete-button-color);
    border: 0px;
    cursor: pointer;
    margin-bottom: 0px;
}

.tanks_sidebar > #clearBtn > button:hover, .wines_sidebar > #clearWineBtn:hover {
    background-color: var(--delete-button-color-hover);
    transition: all 0.3s ease-in-out;
}

.tanks_sidebar > #downloadBtn, .formula_sidebar > #downloadBtn, .actions_sidebar > #downloadBtn, .actions_sidebar > #downloadPresetBtn{
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--download-button-color);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.tanks_sidebar > #downloadBtn:hover, .formula_sidebar > #downloadBtn:hover, .actions_sidebar > #downloadBtn:hover, .actions_sidebar > #downloadPresetBtn:hover{
    background-color: var(--download-button-color-hover);
    transition: all 0.3s ease-in-out;
}

.actions_sidebar > #presetFileInput, .actions_sidebar > #csvFileInput{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.actions_sidebar > #presetFileInput + label, .actions_sidebar > #csvFileInput + label{
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--upload-button-color);
    width: 80%;
    cursor: pointer;
    color: var(--font-color3);
    margin: 0 auto;
    text-align: center;
    display: block;
}

.actions_sidebar > #presetFileInput + label:hover, .actions_sidebar > #csvFileInput + label:hover{
    background-color: var(--upload-button-color-hover);
    transition: all 0.3s ease-in-out;
}


.tanks_sidebar > #downloadBtn > a, .formula_sidebar > #downloadBtn > a, .actions_sidebar > #downloadBtn > a, .actions_sidebar > #downloadPresetBtn > a{
    text-decoration: none;
    color: var(--font-color3);
}

.tanks_sidebar >#downloadBtn > a > i, .formula_sidebar > #downloadBtn > a > i, .actions_sidebar > #downloadBtn > a > i, .actions_sidebar > #downloadPresetBtn > a > i{
    margin-left: 10px;
}


.tanks_sidebar > #downloadBtn , .tanks_sidebar > #clearBtn , .wines_sidebar > #clearWineBtn , .formula_sidebar > #downloadBtn {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.actions_sidebar > #downloadBtn, .actions_sidebar > #downloadPresetBtn, .actions_sidebar > #presetFileInput, .actions_sidebar > #csvFileInput {
    margin-bottom: 20px;
}

.global_container_tanks, .global_container_formula, .global_container_wines, .global_container_actions {
    margin-left: 300px;
    min-height: 100%;
    max-height: fit-content;
    background: var(--glass-bg-color);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.views, .winesViews {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 30px 20px;; 
    background: #dfc08d4d;
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.views > button, .winesViews > button {
    padding: 10px;
    width: 50%;
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.views > button.active, .winesViews > button.active {
    background-color: var(--button-color-hover);
    border-radius: 10px;
    color: var(--font-color3);
}

.tanks_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    padding: 10px;
}

.tank {
    position: relative;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tankLabel{
    font-size: 12px;
    color: var(--font-color4);
    background-color: var(--glass-bg-color);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    border: var(--font-color4) 2px solid;
    margin-bottom: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

thead > tr > th {background-color: var(--table-color-top); color: var(--font-color3);}

tr:nth-child(odd) {background-color: var(--table-color-odd);}
tr:nth-child(even) {background-color: var(--table-color-even);}

tr > td > button {
    padding: 5px;
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

tr > td > button:hover {
    background-color: var(--button-color);
    border-radius: 10px;
    color: var(--font-color3);
}

tr > td > button:nth-child(1):hover {
    color: var(--delete-button-color);
}

tr > td > button:nth-child(2):hover {
    color: var(--upload-button-color);
}

.navigation{
    background: var(--glass-bg-color);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.navigation > a {
    text-decoration: none;
    color: var(--font-color3);
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    margin: 0 15px;
    
}

.navigation > a:hover {
    background-color: var(--button-color);
    color: var(--font-color4);
    scale: 0.8;
    rotate: 5deg;
    transition: all 0.3s ease-in-out;
}

.navigation > a.active {
    border: var(--font-color3) 2px solid;
    border-radius: 50%;
}

.winesBottlesView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wine-container {
    background: var(--glass-bg-color);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.wine-container > p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
}

.horizontal_bar_chart_container {
    width: 95%;
    height: 50px;
    border-radius: 10px;
    padding: 0px;
    margin: 20 auto;
    display: flex;
    background-color: var(--glass-bg-color);
}

.horizontal_bar_chart_container > div {
    height: 100%;
    background-color: var(--font-color3);
}

.horizontal_bar_chart_container> div:first-child  {
    border-radius: 10px 0px 0px 10px;
}

.horizontal_bar_chart_container> div:last-child  {
    border-radius: 0px 10px 10px 0px;
}

.wines_percent_list > ul {
    margin-top: 60px;
}

.wines_percent_list > ul > li {
    list-style: none;
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: var(--glass-bg-color);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0px;
}

.wines_percent_list > ul > li > div.color {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    border: var(--font-color4) 2px solid;
}

.wines_percent_list > ul > li > div.wineType {
    height: 40px;
    width: 250px;
    background-color: var(--font-color3);
    border-radius: 10px;
    border: var(--font-color4) 2px solid;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.3em;
}

.wines_percent_list > ul > li > input.percent {
    width: 100px;
    height: 40px;
    background-color: var(--font-color3);
    border-radius: 10px;
    border: var(--font-color4) 2px solid;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.3em;
}

.wines_percent_list > ul > li > p.percentSymbol {
    font-size: 1.3em;
    transform: translateX(-55px);
}

.horizontal_bar_chart_container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: var(--font-color3);
}


.global_container_actions > .instructions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    color: var(--font-color3);
}

.global_container_actions > .instructions_container > h2 {
    font-size: 1.6em;
    text-decoration: underline;
}

.global_container_actions > .instructions_container > .steps_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    color: var(--font-color3);
}

.global_container_actions > .instructions_container > .steps_container > .step_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    background-color: var(--glass-bg-color);
    border-radius: 10px;
    padding: 25px;
}

.global_container_actions > .instructions_container > .steps_container > .step_container > .substep > p {
    font-size: 1.3em;
}

.global_container_actions > .instructions_container > .steps_container > .step_container > .substep > h2 {
    font-weight: bold;
}
